@font-face{
  font-family: 'Angelina Beaty';
  src: url('../fonts/Angelia\ Beauty.ttf');
  font-weight: normal;
  font-style: normal;
}

.header {
  background-color: #FFF;
  width: 100%;
  position: relative;
  color: #333;
}
.navbar{
  display: flex;
  padding-top: 35px;
    z-index: 33;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-right: 60px;
}

.grupo-l-e{
  display: flex;
  gap: 5px;
}
.grupo-l-r{
  display: flex;
  gap: 6px;
}
.btn-enter{
  padding: 9px 10px 9px 10px;
  border-radius: 20px;
  background: #FFD1DC;
  font-size: 13px;
  color: #212121;
    cursor: pointer;
    text-decoration: none;
    transition: .2s ease-in-out;
}
.btn-enter:hover{
  background-color: #FF8AC5;
}

.efeito-onda{
  fill: rgb(0, 0, 0);
    position: relative;
    top: -2px;
    width: 1021px;
    position: absolute;
    right: 0px;
}

.top-direito > img{
  width: 70px;
  fill: rgb(0, 0, 0);
    position: absolute;
    right: 0px;
    z-index: 4;
    top:  0;
}

.text-banner{
  position: relative;
  margin-left: 90px;
}
.text-banner >h2 >a{
font-family: Angelina Beaty;
font-size: 40px;
color: #3a3a3a;
font-weight: normal !important;
text-decoration: none;
}
.li{
  padding: 12px 0px 17px 2px
}
a{
  padding: 12px 0px 17px 2px;
  text-decoration: none;
}
.li >a{
  color: #212121;
  font-weight: 600;
  font-size: 17px;
}

.li:hover >a{
  color: #FF8AC5;
  transition: .1s ease-in-out;
}
ul, li{
  list-style: none;
  gap: 15px;
}
li> div{
  width: 100%;
  position: absolute;
  /* height: 100vh;  Depois que colocar certo */
  height: 200px;
  left: 0;
  top: 93px;
  background-color: #212121a6;
  display: none;
  height: 100vh;
}
li> div > ul{
  position: relative;
  width: 100%;
  background-color: #FFF;
  height: 200px;

  transition: .2s ease-in;
}

.li:hover div{
  display: block;
}




li > div > ul {
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.li:hover div > ul {
  display: block;
}

.li > div ul {
  list-style: none;
}



/* Submenu */
.submenu-container {
  position: absolute;
  top: 93px;
  left: 0;
  width: 100%;
  background-color: #000; /* Fundo branco para o submenu */
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* Itens da lista do submenu */
.submenu-container ul li {
  color: #000;
}


.submenu-container {
  position: absolute;
  top: 93px;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(1px) saturate(180%);
  -webkit-backdrop-filter: blur(1px) saturate(180%);
   z-index: 10;
   transition: 2s ease-in-out;
}

.submenu-container ul {
  margin: 0;
  padding: 50px 90px 190px 90px;
  list-style: none;
  background-color: #FFF; /* Fundo branco para a lista */
}
/* Itens do menu principal */
.items-h {
  display: flex;
  list-style: none;
  gap: 20px;
}

.submenu-container ul li {
  padding: 10px 0;
  color: #000;
}
.elements{
  display: flex !important;
  justify-content: space-between !important;
}
.org-casamento{
  color: #3a3a3a;
  text-decoration: none;
  transition: .1s ease-in-out;
  font-weight: 600;
  position: relative;
  font-size: 17px;
}
.org-casamento:hover{
  color: #FF8AC5;
}
.items-sub{
  color: #3a3a3a;
  padding: 0px !important;
}
.bottom-items{
  width: 100px;
  height: 10px;
}
.items-link-sub{
  color: #3a3a3a;
  display: flex;
  gap: 5px;
  position: relative;
  width: 20%;
  transition: .1s ease;
}
.items-link-sub:hover{
  color: #FF8AC5;
}
.menu-hamburguer{
  position: absolute;
  height: 100px;
  top: 15px;
  display: flex;
  align-items: center;
  left: 30px;
}
.hamburguer-btn{
  cursor: pointer
}
.menu-lateral-hamburguer{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 100px;
  display:none ;
}
.menu-lateral-hamburguer.active_menu{
   width: 100%;
    height: 100vh;
    position: absolute;
    top: 100px;
    background-color: #2121218c;
    display: flex;
}
.menu-lateral-hamburguer > ul{
    position: relative;
    top: 0;
    height: 100vh;
    border-top: 1px solid #21212126;
    background-color: #FFF;
    width: 250px;
    left: -250px;
    display: flex;
    flex-direction: column;
    gap: 0px;
  transition: .2s ease-in-out;
    padding: 10px;
}
.close-icon{
  color: #333;
  font-size: 37px;
  position: relative;
  top: -5px;
  transition: .2s ease-in-out;
}
.menu-lateral-hamburguer.active_menu > ul{
  left: 0;
  transition: .2s ease-in-out;
}
.menu-lateral-hamburguer__items{
  color: #333;
  padding-left: 20px;
  display: flex;
  align-items: center;
}
.menu-lateral-hamburguer__items:hover{
  background-color: #FF8AC5;
  border-radius: 20px;
    transition: .1s ease-in-out;
}

@media (min-width: 1121px){
  .menu-hamburguer{
    display: none;
  }
  .menu-lateral-hamburguer,
  .menu-lateral-hamburguer > ul
  {
    display: none;
  }
}
@media (max-width: 1120px) {
  .menu-items-container{
    display: none;
  }
}

@media(max-width:600px){
  .grupo-l-e{
    display: none;
  }
  .logo{
    width: 100%;
    padding-right: 40px;

  }
  .text-banner{
    text-align: center;
  }
  .btns-mobile{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 30px;
  }
  .btn-enter{
    text-align: center;
  }
}
