@font-face{
  font-family: 'Angelina Beaty';
  src: url('../fonts/Angelia\ Beauty.ttf');
  font-weight: normal;
  font-style: normal;
}

.header {
  background-color: #FFF;
  width: 100%;
  position: relative;
  color: #333;
}
.navbar{
  display: flex;
  padding-top: 35px;
    z-index: 33;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-right: 60px;
}

.grupo-l-e{
  display: flex;
  gap: 5px;
}
.grupo-l-r{
  display: flex;
  gap: 6px;
}
.btn-enter{
  padding: 10px 15px 10px 15px;
    border-radius: 40px;
    background: #FFD1DC;
    color: #212121;
    cursor: pointer;
    text-decoration: none;
    transition: .2s ease-in-out;
}
.btn-enter:hover{
  background-color: #FF8AC5;
}

.efeito-onda{
  fill: rgb(0, 0, 0);
    position: relative;
    top: -2px;
    width: 1021px;
    position: absolute;
    right: 0px;
}

.top-direito > img{
  width: 70px;
  fill: rgb(0, 0, 0);
    position: absolute;
    right: 0px;
    z-index: 4;
    top:  0;
}

.text-banner{
  position: relative;
  margin-left: 90px;
}
.text-banner >h2 >a{
font-family: Angelina Beaty;
font-size: 40px;
color: #3a3a3a;
font-weight: normal !important;
text-decoration: none;
}
.li{
  padding: 12px 0px 17px 2px
}
a{
  padding: 12px 0px 17px 2px;
  text-decoration: none;
}
.li >a{
  color: #212121;
  font-weight: 600;
  font-size: 17px;
}

.li:hover >a{
  color: #FF8AC5;
  transition: .1s ease-in-out;
}
ul, li{
  list-style: none;
  gap: 15px;
}
li> div{
  width: 100%;
  position: absolute;
  /* height: 100vh;  Depois que colocar certo */
  height: 200px;
  left: 0;
  top: 93px;
  background-color: #212121a6;
  display: none;
  height: 100vh;
}
li> div > ul{
  position: relative;
  width: 100%;
  background-color: #FFF;
  height: 200px;

  transition: .2s ease-in;
}

.li:hover div{
  display: block;
}




li > div > ul {
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.li:hover div > ul {
  display: block;
}

.li > div ul {
  list-style: none;
}



/* Submenu */
.submenu-container {
  position: absolute;
  top: 93px;
  left: 0;
  width: 100%;
  background-color: #000; /* Fundo branco para o submenu */
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* Itens da lista do submenu */
.submenu-container ul li {
  color: #000;
}


.submenu-container {
  position: absolute;
  top: 93px;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(1px) saturate(180%);
  -webkit-backdrop-filter: blur(1px) saturate(180%);
   z-index: 10;
   transition: 2s ease-in-out;
}

.submenu-container ul {
  margin: 0;
  padding: 50px 90px 190px 90px;
  list-style: none;
  background-color: #FFF; /* Fundo branco para a lista */
}
/* Itens do menu principal */
.items-h {
  display: flex;
  list-style: none;
  gap: 20px;
}

.submenu-container ul li {
  padding: 10px 0;
  color: #000;
}
.elements{
  display: flex !important;
  justify-content: space-between !important;
}
.org-casamento{
  color: #3a3a3a;
  text-decoration: none;
  transition: .1s ease-in-out;
  font-weight: 600;
  position: relative;
  font-size: 17px;
}
.org-casamento:hover{
  color: #FF8AC5;
}
.items-sub{
  color: #3a3a3a;
  padding: 0px !important;
}
.bottom-items{
  width: 100px;
  height: 10px;
}
.items-link-sub{
  color: #3a3a3a;
  display: flex;
  gap: 5px;
  position: relative;
  width: 20%;
  transition: .1s ease;
}
.items-link-sub:hover{
  color: #FF8AC5;
}
