.section2{
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;
}
.grupo-section-2{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  position: relative;
  max-width: 1280px;
  margin-bottom: 50px;
}
.header-text-sectio2{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
}
.header-title-sectio2{
  font-size: 1.75rem;
  line-height: 2rem;
  font-weight: 500;
}
.header-content-section2{
  text-rendering: optimizelegibility;
  color: rgb(34, 34, 34);
}
.gg-section-2{
  display: flex;
  gap: 20px;
}
/* Estilo do card */
.wedding-card {
  display: flex;
    flex-direction: row;
    border-radius: 12px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    /* height: 175px; */
    margin: 20px auto;
    transition: transform 0.3s ease;
  }
  
  .wedding-card:hover {
    transform: translateY(-5px);
  }
  
  .card-image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 12px 0 0 12px;
  }
  
  .card-content {
    padding: 20px;
    flex: 1;
  }
  
  .card-content h3 {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
  }
  
  .card-content p {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
  }
  
  .card-button {
    background-color: #ff6f61;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .card-button:hover {
    background-color: #e05a4f;
  }
  
  .btn-see-more-section2{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }
  .btn-see-more-section2 >a{
    text-decoration: none;
    color: #333;
    cursor: pointer;
    padding: 20px;
    background-color: #FFD1DC;
    font-size: 17px;
    transition: .2s ease;
    border-radius: 10px;
  }
  .btn-see-more-section2 >:hover{
    background-color: #FF8AC5;
  }