

.banner{
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
  overflow: hidden; 
  position: relative;
  height: 719px;
}

.efeito-onda-div{
  position: absolute;
  width: 100%;
  height: 714px;
  overflow: hidden;
  top: 0px;
}
.efeito-onda{
  fill: rgb(0, 0, 0);
    position: relative;
    top: -2px;
    width: 1021px;
    position: absolute;
    right: -3px;
    z-index: 2;
}
.imagem-carousel{
  width: 350px;
  height: 350px;
  overflow: hidden;
}

.imagem-carousel > img{
  width: 100%;
  height: 100%;
  border-radius: 50px;
}
.p-relative{
  position: relative;
}
.p-absolute{
  position: absolute;
} 
.border-transparent{
  background-color: white;
  background-color: white;
  width: 300px;
  height: 220px;
  border-radius: 87%;
  top: -170px;
  left: 270px;
}
.border-transparent::after {
  content: "";
  width: 40px;
  height: 40px;
  padding: 20px;
  border-radius: 100%;
  position: absolute;
  background: #FFF;
  top: 140px;
  left: -20px;
}
.heart-svg{
  fill: 'orange '
}
.border-one{
  width: 80px;
  height: 80px;
  border-radius: 100%;
}
.dd{
  width: 560px;
  height: 560px;
  position: relative;
}
.dd > .ddd{
  width: 560px;
  height: 560px;
  position: absolute;
  z-index:2;
}
.dd > .ss{
  width: 360px;
  height: 360px;
  border-radius: 100%;
  position: absolute;
  left: 120px;
  top: 109px;
}

.bord{
  width: 580px;
}

.text-banner >p{
  font-family: sans-serif;
  color: #3a3a3a;
}
.img-bottom{
  width: 540px;
    height: 588px;
    position: absolute;
    z-index: 1;
    right: 20px;
    top: 20px;
}
.svg-banner-left{
  position: absolute;
  width: 600px;
  top: 150px;
  left: -100px;
}

.grupo-img-banner{
  position: relative;
    top: 20px;
    left: -80px;
}
.imagem-center{
  width: 512px;
  height: 533px;
  position: absolute;
  border-radius: 100%;
  left: 76px;
  top: 42px;
  z-index: 1;
  object-fit: cover;
}
.roda-banner{
  width: 620px;
  height: 620px;
  position: relative;
  z-index: 2;
}
.grupo-banner-2{
  position: relative;
  display: flex;
  flex-direction: column;
  padding-right: 59px;
  width: 558px;
  z-index: 31;
  gap: 5px;
  padding-top: 70px;
  height: 310px;
}
.text-banner-2{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}
.banner-header-text{
  font-size: 1.75rem;
    line-height: 2rem;
    font-weight: 500;
}

.banner-content-text{
  text-rendering: optimizelegibility;
  color: rgb(34, 34, 34);
  font-size: 1.14rem;
}
.pesquisar-fornecedores{
  position: relative;
  display: flex;
  z-index: 3;
  
}

.input-banner{
border: 1px solid #f9f9f9;
transition: .1s ease-in-out;
width: 195px;
height: 55px;
padding-left: 10px;
outline: none;
border-radius: 500px;
font-size: 15px;
box-shadow: 2px 2px 12px #3333332e;
}
.input-banner:focus{
  background-color: #FFD1DC;
  border: none;
  height: 70px;
  transition: .1s ease-in-out;
  position: relative;
  top: -7px;
}
.input-banner:active{
  border: none;
}
.f-input{
 border-top-right-radius: 0px;
 border-bottom-right-radius: 0px;
}
.l-input{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-left: none;
  border-right: none;
}
.input-banner::placeholder{
  color: #212121;
  font-size: 15px;
}
.btn-banner-send{
  width: 107px;
  height: 55px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFD1DC;
  padding-left: 0px;
  padding-right: 7px;
  font-size: 13px;
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 2px 2px 12px #3333332e;
}

